<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio
      aliquid, eum dicta inventore, porro fuga ducimus expedita iusto quasi
      obcaecati ut iste ab dolores accusamus delectus repellat magni omnis.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondry">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto at esse
        officia natus iste soluta. Temporibus distinctio non similique vel ab
        est eius, quae delectus, explicabo minus optio suscipit cupiditate?
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio
      aliquid, eum dicta inventore, porro fuga ducimus expedita iusto quasi
      obcaecati ut iste ab dolores accusamus delectus repellat magni omnis.
    </p>
  </div>
</section>
