<nav class="nav collapsible">
  <a class="nav_brand" href="/"><img src="/images/RSS-logo.svg" alt="" /></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="/images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Contact</a></li>
    <li class="nav__item"><a href="#">News</a></li>
    <li class="nav__item"><a href="#">Our Campus</a></li>
    <li class="nav__item"><a href="#">Our Partners </a></li>
    <li class="nav__item"><a href="#">What We Do</a></li>
    <li class="nav__item"><a href="#">Our Story </a></li>
  </ul>
</nav>
