<div class="card testimonial">
  <div class="grid grid--1x2">
    <img
      class="testimonial__image"
      src="/images/testimonial.jpg"
      alt="A happy customer"
    />
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae
        fugiat dolores nisi ab porro amet voluptate at dolor accusantium hic
        consequatur voluptatem enim dignissimos unde, laboriosam voluptas neque
        recusandae modi?
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <span class="icon-container">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="/images/sprite.svg#line"></use>
              </svg>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Huthifa Al Manasrah</h3>
            <p class="quote__organization">BAU Univercity</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
