<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User-frindly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <img class="block-showcase__image" src="/images/ipad.png" alt="" />
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <span class="icon-container">
              <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#snap"></use>
              </svg>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy start & Manage Updated</h3>
            <p class="">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero
              recusandae sint corporis eligendi explicabo, beatae distinctio
              dicta aperiam natus ratione omnis aut ipsa. Aspernatur facilis
              voluptatem vero quo ullam nesciunt?
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <span class="icon-container">
              <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#snap"></use>
              </svg>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy start & Manage Updated</h3>
            <p class="">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero
              recusandae sint corporis eligendi explicabo, beatae distinctio
              dicta aperiam natus ratione omnis aut ipsa. Aspernatur facilis
              voluptatem vero quo ullam nesciunt?
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <span class="icon-container">
              <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#snap"></use>
              </svg>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy start & Manage Updated</h3>
            <p class="">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero
              recusandae sint corporis eligendi explicabo, beatae distinctio
              dicta aperiam natus ratione omnis aut ipsa. Aspernatur facilis
              voluptatem vero quo ullam nesciunt?
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="/images/img4.jpg" alt="A happy customer" />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--primary icon--white">
          <use xlink:href="/images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Jordan’s innovation revolution must assist in solving our society’s deep
        and pressing socio-economic challenges. Global competitiveness,
        shrinking resource availability, and the requirements of a skilled
        labour force mean that, increasingly, an awareness and understanding of
        why science and research are critical to our lives is essential for
        developing an innovation culture. To fully realise the social, economic,
        and environmental benefits of the significant investment in science,
        research, and innovation, we as a country must communicate and engage
        the wider community more fully in science and in an understanding of the
        knowledge economy to which we aspire. The RSS acknowledges the role of
        science engagement in the achievement of the RSS strategic goals. The
        RSS’ Science Engagement Sector has a crosscutting mandate that aims to
        strategically align all science engagement activities across the
        organisation. The Sector is also optimally positioned to contribute
        towards coordinated, consistent, and effective science communication and
        engagement policy and implementation that will make a meaningful
        contribution to bridging the gap between science and society.
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary icon--small">
              <use xlink:href="/images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Huthifa Al Manasrah</h3>
            <p class="quote__organization">BAU University</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
